trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  BUCKET_NAME: "gs-static-task-atarnavskiyy"

steps:
- checkout: self

- task: DownloadSecureFile@1
  name: gcpkey
  inputs:
    secureFile: "project-9f0f9e8d-641e-4ebc-9d4-c5aa91c17228.json"

- bash: |
    set -e

    sudo apt-get update
    sudo apt-get install -y apt-transport-https ca-certificates gnupg curl
    echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] http://packages.cloud.google.com/apt cloud-sdk main" | sudo tee /etc/apt/sources.list.d/google-cloud-sdk.list
    curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo gpg --dearmor -o /usr/share/keyrings/cloud.google.gpg
    sudo apt-get update
    sudo apt-get install -y google-cloud-cli google-cloud-cli-gsutil

    gcloud auth activate-service-account --key-file "$(gcpkey.secureFilePath)"

    gsutil -m cp index.html gs://$(BUCKET_NAME)/index.html
    gsutil -m cp error.html gs://$(BUCKET_NAME)/error.html
  displayName: "Deploy to GCS"
